---
- name: GET details of url request
  ansible.builtin.uri:
    url: https://api.restful-api.dev/objects
    method: GET
    status_code: 200
    return_content: true
  register: API_output

- name: Display the value in API_output.content
  ansible.builtin.debug:
    var: API_output.content

- name: Display the value in API_output.json
  ansible.builtin.debug:
    var: API_output.json



